# vim swap files
.*.sw*
# current settings lead to viminfo being saved in the .vim folder
viminfo
# Not sure why .netrwhist exists here, but keep away from git repo
.netrwhist
# Cscope/Ctags stuff. It shouldn't be here in the first place.
tags
cscope.out
